//   VES.RC  Файл ресурсов приложения VES for Windows
// Для того, чтобы в WINDOWS 95 диалоги выглядели как "родные",
// надо добавить в описания стилей диалогов флаг 0x2004L, например 
// STYLES 0x2004L | WS_POPUP | WS_VISIBLE | WS_CAPTION

#include "ves_rc.h"

//        Описание меню несущего окна пpиложения VES
MENU_VES MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New", IDM_NEW
  MENUITEM "&Open...", IDM_OPEN
  MENUITEM "&Save", IDM_SAVE, GRAYED
  MENUITEM "Save &as...", IDM_SAVE_AS, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "E&xit", IDM_EXIT
 }

 POPUP "&Curve"
 {
  MENUITEM "&Next\tPgDn", IDM_NEXT, GRAYED
  MENUITEM "&Previous\tPgUp", IDM_PREV, GRAYED
  MENUITEM "&First\tHome", IDM_FIRST, GRAYED
  MENUITEM "&Last\tEnd", IDM_LAST, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Save...", IDM_SAVECURVE, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Info...", IDM_INFO, GRAYED
 }

 POPUP "&Interpretation"
 {
  MENUITEM "&Manual...", IDM_MANUAL, GRAYED
  MENUITEM "&Automatic...", IDM_AUTO, GRAYED
 }

 POPUP "&Tools"
 {
  MENUITEM "Compute &Type Curve...", IDM_COMPUTE_TYPE_CURVE
  MENUITEM "&Compile...", IDM_COMPILE, GRAYED
 }

 POPUP "&Help"
 {
  MENUITEM "&Index\tF1", IDM_HELP
  MENUITEM "Using &help", IDM_USING_HELP
  MENUITEM SEPARATOR
  MENUITEM "&About VESWin...", IDM_ABOUT
 }

}

//         Диалоговое окно интерпретации кривых ВЭЗ
DLG_VES DIALOG 10, 19, 218, 108
STYLE  0x2004L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Model Data"
FONT 8, "Helv"
BEGIN
	LTEXT "&Layers", -1, 24, 4, 23, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	SCROLLBAR IDC_SB_NLAYERS, 4, 4, 18, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	CONTROL "5", IDC_EB_NLAYERS, "EDIT", ES_RIGHT | WS_BORDER | WS_TABSTOP, 49, 3, 17, 11
	LTEXT "Curve:", -1, 72, 4, 22, 9, SS_LEFT | WS_CHILD | WS_VISIBLE
	LTEXT "N1", IDT_CURVE_ID, 95, 4, 82, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
	LTEXT " 1", -1, 2, 28, 9, 9, SS_LEFT | WS_CHILD | WS_VISIBLE
	LTEXT " 2", -1, 2, 41, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
	LTEXT " 3", -1, 2, 54, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
	LTEXT " 4", -1, 2, 67, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
	LTEXT " 5", -1, 2, 80, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
	LTEXT " 6", -1, 2, 92, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
	CONTROL "Layer R&esistivity", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 16, 96, 90
	SCROLLBAR IDC_SB_RESIS1, 16, 27, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	SCROLLBAR IDC_SB_RESIS2, 16, 40, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	SCROLLBAR IDC_SB_RESIS3, 16, 53, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	SCROLLBAR IDC_SB_RESIS4, 16, 66, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	SCROLLBAR IDC_SB_RESIS5, 16, 79, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	SCROLLBAR IDC_SB_RESIS6, 16, 92, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	CONTROL "1", IDC_EB_RESIS1, "EDIT", WS_BORDER | WS_TABSTOP, 62, 27, 32, 11
	CONTROL "10", IDC_EB_RESIS2, "EDIT", WS_BORDER | WS_TABSTOP, 62, 40, 32, 11
	CONTROL "200", IDC_EB_RESIS3, "EDIT", WS_BORDER | WS_TABSTOP, 62, 53, 32, 11
	CONTROL "400", IDC_EB_RESIS4, "EDIT", WS_BORDER | WS_TABSTOP, 62, 66, 32, 11
	CONTROL "500", IDC_EB_RESIS5, "EDIT", WS_BORDER | WS_TABSTOP, 62, 79, 32, 11
	CONTROL "600", IDC_EB_RESIS6, "EDIT", WS_BORDER | WS_TABSTOP, 62, 92, 32, 11
	CONTROL "Layer &Thickness", -1, "BUTTON", BS_GROUPBOX | WS_GROUP, 98, 16, 84, 77
	SCROLLBAR IDC_SB_THICK1, 101, 27, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	SCROLLBAR IDC_SB_THICK2, 101, 40, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	SCROLLBAR IDC_SB_THICK3, 101, 53, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	SCROLLBAR IDC_SB_THICK4, 101, 66, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	SCROLLBAR IDC_SB_THICK5, 101, 79, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
	CONTROL "5", IDC_EB_THICK1, "EDIT", WS_BORDER | WS_TABSTOP, 147, 27, 32, 11
	CONTROL "10", IDC_EB_THICK2, "EDIT", WS_BORDER | WS_TABSTOP, 147, 40, 32, 11
	CONTROL "15", IDC_EB_THICK3, "EDIT", WS_BORDER | WS_TABSTOP, 147, 53, 32, 11
	CONTROL "25", IDC_EB_THICK4, "EDIT", WS_BORDER | WS_TABSTOP, 147, 66, 32, 11
	CONTROL "50", IDC_EB_THICK5, "EDIT", WS_BORDER | WS_TABSTOP, 147, 79, 32, 11
	DEFPUSHBUTTON "&Run!", IDOK, 184, 1, 33, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Save", IDC_BU_SAVE, 184, 15, 33, 12, WS_TABSTOP
	PUSHBUTTON "Pr&int...", IDC_BU_PRINT, 184, 28, 33, 12, WS_TABSTOP
	PUSHBUTTON "&Next", IDC_BU_NEXT, 184, 41, 33, 12, WS_TABSTOP
	PUSHBUTTON "&Prev", IDC_BU_PREV, 184, 54, 33, 13, WS_TABSTOP
	PUSHBUTTON "&Find...", IDC_BU_FIND, 184, 68, 33, 13, WS_TABSTOP
	PUSHBUTTON "E&xit", IDCANCEL, 184, 82, 33, 12, WS_TABSTOP
	CONTROL "&Automatic Interpretation ", IDC_CB_INTERPR, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 99, 96, 90, 10
END

// Пиктограмма приложения VES

ICON_VES ICON "ves.ico"

// Диалоговое окно About

ABOUT_VES DIALOG 34, 36, 171, 78
STYLE  0x2004L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "About VES for Windows"
FONT 8, "Helv"
{
 CTEXT "VES for Windows v1.0 Beta", -1, 27, 8, 117, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
 CTEXT "\2511995 V.Korotkov, Ekaterinburg", -1, 32, 42, 108, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
 PUSHBUTTON "OK", IDOK, 60, 61, 50, 14
 ICON "ICON_VES", -1, 3, 4, 18, 20
 CTEXT "System for interpretation of Resistivity Sounding", -1, 6, 30, 158, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
}

  // Битовый образ для окна About
ID_BITMAP_VES + 1000 BITMAP 
{
'42 4D 76 08 00 00 00 00 00 00 76 00 00 00 28 00'
'00 00 40 00 00 00 40 00 00 00 01 00 04 00 00 00'
'00 00 00 08 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
'00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
'00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
'00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
'00 00 FF FF FF 00 99 99 99 99 99 99 99 99 99 99'
'99 99 99 99 99 99 99 99 99 99 99 99 99 99 99 99'
'99 99 99 09 99 99 9F FF FF FF FB BF FF FF FF F0'
'FF F0 FF F0 FF FF 99 FF FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB CC CF FF F0'
'FF F0 FF F0 FF FF 99 9F FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB CC CF FF F0'
'FF F0 FF F0 FF FF 99 9F FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 0B BB FC C0 00 00'
'00 00 00 00 00 00 09 99 0F 00 00 0F 00 00 00 00'
'00 00 00 00 00 09 9F FF FF FF FB BB FC CF FF F0'
'FF F0 FF F0 FF FF 09 99 FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB FC CC FF F0'
'FF F0 FF F0 FF FF 0F 99 FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB FC CC FF F0'
'FF F0 FF F0 FF FF 0F 99 9F FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 0B BB F0 CC C0 00'
'00 00 00 00 00 00 00 99 99 00 00 0F 00 00 00 00'
'00 00 00 00 00 00 9F FF FF FF FB BB FF CC CF F0'
'FF F0 FF F0 FF FF 0F F9 99 FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB FF FC CC F0'
'FF F0 FF F0 FF FF 0F FF 99 9F FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB FF FC CC CC'
'FF FF FF FF FF FF FF FF 99 99 FF FF FF FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF CC CC'
'CF F0 FF F0 FF FF 0F FF F9 99 9F FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BF FF FF FF CC'
'CC F0 FF F0 FF FF 0F FF FF 99 99 FF FF FF 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 0B BB B0 00 00 0C'
'CC C0 00 00 00 00 00 00 0F 09 99 9F 00 00 00 00'
'00 00 00 00 00 09 9F FF FF FF FB BB BF FF FF F0'
'CC CC FF F0 FF FF 0F FF FF FF 99 99 FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB BF FF FF F0'
'FC CC CF F0 FF FF 0F FF FF FF F9 99 FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB BF FF FF F0'
'FF CC CC F0 FF FF 0F FF FF FF FF 99 9F FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF BB BF FF FF FF'
'FF FC CC CC FF FF FF FF FF FF FF 99 99 9F FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF BB BF FF FF F0'
'FF F0 CC CC CF FF 0F FF FF FF FF F9 99 99 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF BB BF FF FF F0'
'FF F0 FF CC CC CF 0F FF FF FF FF FF F9 99 9F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FB BF FF FF F0'
'FF F0 FF FC CC CC 0F FF FF FF FF FF FF 99 99 FF'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 0C CC CC 00 0F 00 00 0F 00 F0 99 90'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF CC CC CF FF FF FF FF FF FF 99 9F'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF CC CC CF FF FF FF FF FF 99 9F'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0C CC CF FF FF FF FF FF F9 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FC CC FF FF FF FF FF F9 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FC CC CF FF FF FF FF F9 99'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF CC CC FF FF FF FF 09 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FC CC FF FF FF FF 09 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF CC CF FF FF FF 09 99'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 00 00 00 00 0F CC C0 0F 00 00 09 99'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FC CC FF FF FF 09 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FC CC FF FF FF 09 9F'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 00 00 00 00 0F 00 CC 0F 00 00 09 90'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF FF 99 9F'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF FF 99 9F'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF F9 99 FF'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 00 00 00 00 0F 00 CC 0F 00 09 99 00'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF 99 9F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF 99 9F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF F9 99 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 00 00 00 00 0F 00 CC 0F 99 99 00 00'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF FF FC CC F9 99 9F 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF FF FC CC 99 99 FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF BB FF FF FF FF FF FF CC CF 99 9F FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF FC CC C9 99 FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF CC CC 99 99 FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF CC C9 99 9F FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FC CC 99 99 FF FF FF 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 BB 00 00 00 00 CC C9 99 90 0F 00 00 00 00'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0C CC C9 99 FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF BB FF FF FF CC CC 99 9F FF FF FF FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FC CC C9 99 9F FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FC CC 99 99 FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF CC CF 99 9F FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF BB FF FC CC C9 99 FF FF FF FF FF FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FC CC 99 99 FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 CC C9 99 9F FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF BB FF CC 99 99 FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 CC 99 9F FF FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 CC 99 0F FF FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 CC 99 0F FF FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 99 99 99 99 99 99 99 99 99 99'
'99 99 BB 99 CC 99 99 99 99 99 99 99 99 99 99 99'
'99 99 99 99 99 99'
}

ACCEL_1 ACCELERATORS 
{
 VK_NEXT,  IDM_NEXT,     VIRTKEY
 VK_PRIOR, IDM_PREV,     VIRTKEY
 VK_HOME,  IDM_FIRST,    VIRTKEY
 VK_END,   IDM_LAST,     VIRTKEY
 VK_F1,    IDM_HELP,     VIRTKEY
}

DLG_INFO DIALOG 15, -55, 224, 167
STYLE 0x2004L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "VES Information"
FONT 8, "Helv"
{
 LTEXT "File", -1, 6, 2, 36, 9, NOT WS_GROUP
 LTEXT "Area", -1, 6, 12, 36, 9, NOT WS_GROUP
 LTEXT "Profil", -1, 6, 22, 36, 9, NOT WS_GROUP
 LTEXT "Curve ID", -1, 6, 32, 36, 9, NOT WS_GROUP
 LTEXT "Samples", -1, 6, 42, 36, 9, NOT WS_GROUP
 LTEXT "file", IDT_FNAME, 50, 2, 163, 9, NOT WS_GROUP
 LTEXT "area", IDT_AREANAME, 50, 12, 163, 9, NOT WS_GROUP
 LTEXT "profil 1", IDT_PROFNAME, 50, 22, 91, 9, NOT WS_GROUP
 LTEXT "curve 3", IDT_CURVENAME, 50, 32, 89, 9, NOT WS_GROUP
 LTEXT "13", IDT_NSAMPLES, 50, 42, 24, 9, NOT WS_GROUP
 LTEXT " X = 1, Y = 1, Z = 1", IDT_COORD, 124, 41, 93, 10, NOT WS_GROUP
 LTEXT " Layer #", -1, 7, 64, 28, 9, NOT WS_GROUP
 LTEXT "Resistivity", -1, 43, 64, 35, 9, NOT WS_GROUP
 LTEXT "Thickness", -1, 81, 64, 36, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER1, 11, 79, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER2, 11, 88, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER3, 11, 97, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER4, 11, 106, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER5, 11, 115, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER6, 11, 124, 18, 9, NOT WS_GROUP
 RTEXT "", IDT_RESIS1, 41, 79, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS2, 41, 88, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS3, 41, 97, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS4, 41, 106, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS5, 41, 115, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS6, 41, 124, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK1, 81, 79, 24, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK2, 81, 88, 24, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK3, 81, 97, 24, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK4, 81, 106, 24, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK5, 81, 115, 24, 9, SS_RIGHT | NOT WS_GROUP
 LTEXT " RMS = 10%", IDT_RMS, 6, 137, 82, 9, NOT WS_GROUP
 LTEXT " Curve #", IDT_NCURVE, 4, 152, 93, 10, NOT WS_GROUP
 LISTBOX IDC_LB_FIELDDATA, 124, 75, 93, 68, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
 LTEXT " AB/2   Resistivity", -1, 125, 66, 87, 8, NOT WS_GROUP
 DEFPUSHBUTTON "OK", IDOK, 172, 151, 50, 14
 GROUPBOX "Model Data", -1, 2, 55, 117, 94, BS_GROUPBOX
 GROUPBOX "&Field Data", -1, 121, 55, 101, 94, BS_GROUPBOX | WS_GROUP
 GROUPBOX "", -1, 2, -3, 220, 56, BS_GROUPBOX
 CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 4, 74, 113, 1
}

1 VERSIONINFO 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS_DOS_WINDOWS16
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "My Company\000\000"
   VALUE "FileDescription", "Description from .def file here\000"
   VALUE "FileVersion", "1.00\000\000"
   VALUE "InternalName", "Application name\000"
   VALUE "LegalCopyright", "Copyright й V.Korotkov 1995\000\000"
   VALUE "OriginalFilename", ".exe file name here\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }

}
