//   VES.RC  Файл ресурсов приложения VES for Windows

#include "ves_rc.h"

//        Описание меню несущего окна пpиложения VES
MENU_VES MENU 
{
 POPUP "&File"
 {
  MENUITEM "&New", IDM_NEW
  MENUITEM "&Open...", IDM_OPEN
  MENUITEM "&Save", IDM_SAVE, GRAYED
  MENUITEM "Save &as...", IDM_SAVE_AS, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "E&xit", IDM_EXIT
 }

 POPUP "&Curve"
 {
  MENUITEM "&Next\tPgDn", IDM_NEXT, GRAYED
  MENUITEM "&Previous\tPgUp", IDM_PREV, GRAYED
  MENUITEM "&First\tHome", IDM_FIRST, GRAYED
  MENUITEM "&Last\tEnd", IDM_LAST, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Save...", IDM_SAVECURVE, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Info...", IDM_INFO, GRAYED
 }

 POPUP "&Interpretation"
 {
  MENUITEM "&Manual...", IDM_MANUAL, GRAYED
  MENUITEM "&Automatic...", IDM_AUTO, GRAYED
 }

 POPUP "&Tools"
 {
  MENUITEM "&Compile...", IDM_COMPILE, GRAYED
 }

 POPUP "&Help"
 {
  MENUITEM "&Using help", IDM_HELP
  MENUITEM SEPARATOR
  MENUITEM "&About...", IDM_ABOUT
 }

}

//         Диалоговое окно интерпретации кривых ВЭЗ
DLG_VES DIALOG 8, 27, 217, 103
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Model Data"
FONT 8, "MS Sans Serif"
{
 LTEXT "L&ayers", -1, 23, 4, 23, 9, SS_LEFT | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_NLAYERS, 3, 4, 18, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 CONTROL "5", IDC_EB_NLAYERS, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 3, 17, 11
 LTEXT "Curve:", -1, 71, 4, 22, 9, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "N1", IDT_CURVE_ID, 94, 4, 82, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT " 1", -1, 3, 28, 9, 9, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT " 2", -1, 3, 40, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT " 3", -1, 3, 52, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT " 4", -1, 3, 64, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT " 5", -1, 3, 76, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT " 6", -1, 3, 88, 9, 10, SS_LEFT | WS_CHILD | WS_VISIBLE
 CONTROL "Layer &Resistivity", -1, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 17, 82, 84
 SCROLLBAR IDC_SB_RESIS1, 17, 28, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_RESIS2, 17, 40, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_RESIS3, 17, 52, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_RESIS4, 17, 64, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_RESIS5, 17, 76, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_RESIS6, 17, 88, 44, 7, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 CONTROL "1", IDC_EB_RESIS1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 27, 32, 11
 CONTROL "10", IDC_EB_RESIS2, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 39, 32, 11
 CONTROL "200", IDC_EB_RESIS3, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 51, 32, 11
 CONTROL "400", IDC_EB_RESIS4, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 63, 32, 11
 CONTROL "500", IDC_EB_RESIS5, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 75, 32, 11
 CONTROL "600", IDC_EB_RESIS6, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 88, 32, 11
 CONTROL "Layer &Thickness", -1, "BorShade", BSS_GROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 98, 17, 83, 72
 SCROLLBAR IDC_SB_THICK1, 100, 28, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_THICK2, 100, 40, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_THICK3, 100, 52, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_THICK4, 100, 64, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 SCROLLBAR IDC_SB_THICK5, 100, 76, 44, 9, SBS_HORZ | SBS_LEFTALIGN | WS_CHILD | WS_VISIBLE
 CONTROL "5", IDC_EB_THICK1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 146, 27, 32, 11
 CONTROL "10", IDC_EB_THICK2, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 146, 39, 32, 11
 CONTROL "15", IDC_EB_THICK3, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 146, 51, 32, 11
 CONTROL "25", IDC_EB_THICK4, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 146, 63, 32, 11
 CONTROL "50", IDC_EB_THICK5, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 146, 75, 32, 11
 DEFPUSHBUTTON "So&lve", IDOK, 183, 1, 33, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Save", IDC_BU_SAVE, 183, 15, 33, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "Pr&int...", IDC_BU_PRINT, 183, 28, 33, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Next", IDC_BU_NEXT, 183, 41, 33, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Prev", IDC_BU_PREV, 183, 54, 33, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "&Find...", IDC_BU_FIND, 183, 68, 33, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 PUSHBUTTON "E&xit", IDCANCEL, 183, 82, 33, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}

// Пиктограмма приложения VES

ICON_VES ICON "ves.ico"

// Диалоговое окно About

ABOUT_VES DIALOG 27, 10, 162, 78
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "About VES for Windows"
FONT 8, "MS Sans Serif"
{
 CTEXT "Vertical Electric Sounding  Interpretation", -1, 49, 30, 110, 19, WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "", ID_BITMAP_VES, "BorBtn", BBS_BITMAP | WS_CHILD | WS_VISIBLE, 6, 6, 37, 39
 CTEXT "VES for Windows v1.0 Beta", -1, 52, 5, 107, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
 CTEXT "(c) 1995 V.Korotkov", -1, 51, 16, 108, 12, WS_CHILD | WS_VISIBLE | WS_GROUP
 PUSHBUTTON "OK", IDOK, 106, 59, 50, 14
}

  // Битовый образ для окна About
ID_BITMAP_VES + 1000 BITMAP 
{
'42 4D 76 08 00 00 00 00 00 00 76 00 00 00 28 00'
'00 00 40 00 00 00 40 00 00 00 01 00 04 00 00 00'
'00 00 00 08 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
'00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
'00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
'00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
'00 00 FF FF FF 00 99 99 99 99 99 99 99 99 99 99'
'99 99 99 99 99 99 99 99 99 99 99 99 99 99 99 99'
'99 99 99 09 99 99 9F FF FF FF FB BF FF FF FF F0'
'FF F0 FF F0 FF FF 99 FF FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB CC CF FF F0'
'FF F0 FF F0 FF FF 99 9F FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB CC CF FF F0'
'FF F0 FF F0 FF FF 99 9F FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 0B BB FC C0 00 00'
'00 00 00 00 00 00 09 99 0F 00 00 0F 00 00 00 00'
'00 00 00 00 00 09 9F FF FF FF FB BB FC CF FF F0'
'FF F0 FF F0 FF FF 09 99 FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB FC CC FF F0'
'FF F0 FF F0 FF FF 0F 99 FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB FC CC FF F0'
'FF F0 FF F0 FF FF 0F 99 9F FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 0B BB F0 CC C0 00'
'00 00 00 00 00 00 00 99 99 00 00 0F 00 00 00 00'
'00 00 00 00 00 00 9F FF FF FF FB BB FF CC CF F0'
'FF F0 FF F0 FF FF 0F F9 99 FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB FF FC CC F0'
'FF F0 FF F0 FF FF 0F FF 99 9F FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB FF FC CC CC'
'FF FF FF FF FF FF FF FF 99 99 FF FF FF FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF CC CC'
'CF F0 FF F0 FF FF 0F FF F9 99 9F FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BF FF FF FF CC'
'CC F0 FF F0 FF FF 0F FF FF 99 99 FF FF FF 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 0B BB B0 00 00 0C'
'CC C0 00 00 00 00 00 00 0F 09 99 9F 00 00 00 00'
'00 00 00 00 00 09 9F FF FF FF FB BB BF FF FF F0'
'CC CC FF F0 FF FF 0F FF FF FF 99 99 FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB BF FF FF F0'
'FC CC CF F0 FF FF 0F FF FF FF F9 99 FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FB BB BF FF FF F0'
'FF CC CC F0 FF FF 0F FF FF FF FF 99 9F FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF BB BF FF FF FF'
'FF FC CC CC FF FF FF FF FF FF FF 99 99 9F FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF BB BF FF FF F0'
'FF F0 CC CC CF FF 0F FF FF FF FF F9 99 99 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF BB BF FF FF F0'
'FF F0 FF CC CC CF 0F FF FF FF FF FF F9 99 9F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FB BF FF FF F0'
'FF F0 FF FC CC CC 0F FF FF FF FF FF FF 99 99 FF'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 0C CC CC 00 0F 00 00 0F 00 F0 99 90'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF CC CC CF FF FF FF FF FF FF 99 9F'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF CC CC CF FF FF FF FF FF 99 9F'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0C CC CF FF FF FF FF FF F9 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FC CC FF FF FF FF FF F9 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF FF FF FC CC CF FF FF FF FF F9 99'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF CC CC FF FF FF FF 09 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FC CC FF FF FF FF 09 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF CC CF FF FF FF 09 99'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 00 00 00 00 0F CC C0 0F 00 00 09 99'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FC CC FF FF FF 09 99'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FC CC FF FF FF 09 9F'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 00 00 00 00 0F 00 CC 0F 00 00 09 90'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF FF 99 9F'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF FF 99 9F'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF F9 99 FF'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 00 00 00 00 0F 00 CC 0F 00 09 99 00'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF 99 9F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF FF 99 9F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 FF F0 FF FF 0F FF FF FF CC FF F9 99 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 00 00 00 00 00 00 0F 00 CC 0F 99 99 00 00'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF FF FC CC F9 99 9F 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF FF FC CC 99 99 FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF BB FF FF FF FF FF FF CC CF 99 9F FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF FC CC C9 99 FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF CC CC 99 99 FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FF CC C9 99 9F FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0F FC CC 99 99 FF FF FF 0F FF'
'F0 FF FF 0F FF F9 90 00 00 F0 00 00 F0 00 00 00'
'00 00 BB 00 00 00 00 CC C9 99 90 0F 00 00 00 00'
'00 00 00 00 00 09 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FF 0C CC C9 99 FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF BB FF FF FF CC CC 99 9F FF FF FF FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FC CC C9 99 9F FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF FC CC 99 99 FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FF CC CF 99 9F FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF BB FF FC CC C9 99 FF FF FF FF FF FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 FC CC 99 99 FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 CC C9 99 9F FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF FF'
'FF FF BB FF CC 99 99 FF FF FF FF FF FF FF FF FF'
'FF FF FF FF FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 CC 99 9F FF FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 CC 99 0F FF FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 9F FF FF FF FF FF FF FF FF F0'
'FF F0 BB F0 CC 99 0F FF FF FF FF FF FF FF 0F FF'
'F0 FF FF 0F FF F9 99 99 99 99 99 99 99 99 99 99'
'99 99 BB 99 CC 99 99 99 99 99 99 99 99 99 99 99'
'99 99 99 99 99 99'
}
ACCEL_1 ACCELERATORS 
{
 VK_NEXT, IDM_NEXT, VIRTKEY
 VK_PRIOR, IDM_PREV, VIRTKEY
 VK_HOME, IDM_FIRST, VIRTKEY
 VK_END, IDM_LAST, VIRTKEY
}
DLG_INFO DIALOG 13, -23, 221, 168
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "VES Information"
FONT 8, "MS Sans Serif"
{
 LTEXT "File", -1, 5, 2, 36, 9, NOT WS_GROUP
 LTEXT "Area", -1, 5, 12, 36, 9, NOT WS_GROUP
 LTEXT "Profil", -1, 5, 22, 36, 9, NOT WS_GROUP
 LTEXT "Curve ID", -1, 5, 32, 36, 9, NOT WS_GROUP
 LTEXT "Samples", -1, 5, 42, 36, 9, NOT WS_GROUP
 LTEXT "file", IDT_FNAME, 49, 2, 163, 9, NOT WS_GROUP
 LTEXT "area", IDT_AREANAME, 49, 12, 163, 9, NOT WS_GROUP
 LTEXT "profil 1", IDT_PROFNAME, 49, 22, 91, 9, NOT WS_GROUP
 LTEXT "curve 3", IDT_CURVENAME, 49, 32, 89, 9, NOT WS_GROUP
 LTEXT "13", IDT_NSAMPLES, 49, 42, 24, 9, NOT WS_GROUP
 LTEXT " X = 1, Y = 1, Z = 1", IDT_COORD, 123, 41, 93, 10, NOT WS_GROUP
 LTEXT " Layer #", -1, 6, 64, 28, 9, NOT WS_GROUP
 LTEXT "Resistivity", -1, 42, 64, 35, 9, NOT WS_GROUP
 LTEXT "Thickness", -1, 80, 64, 36, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER1, 10, 77, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER2, 10, 86, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER3, 10, 95, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER4, 10, 104, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER5, 10, 113, 18, 9, NOT WS_GROUP
 LTEXT "", IDT_LAYER6, 10, 122, 18, 9, NOT WS_GROUP
 RTEXT "", IDT_RESIS1, 40, 77, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS2, 40, 86, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS3, 40, 95, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS4, 40, 104, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS5, 40, 113, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_RESIS6, 40, 122, 32, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK1, 80, 77, 24, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK2, 80, 86, 24, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK3, 80, 95, 24, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK4, 80, 104, 24, 9, SS_RIGHT | NOT WS_GROUP
 RTEXT "", IDT_THICK5, 80, 113, 24, 9, SS_RIGHT | NOT WS_GROUP
 LTEXT " RMS = 10%", IDT_RMS, 5, 137, 82, 9, NOT WS_GROUP
 LTEXT " Curve #", IDT_NCURVE, 3, 152, 93, 10, NOT WS_GROUP
 LISTBOX IDC_LB_FIELDDATA, 123, 75, 93, 68, LBS_NOTIFY | WS_BORDER | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
 LTEXT " AB/2   Resistivity", -1, 124, 66, 87, 8, NOT WS_GROUP
 CONTROL "", 102, "BorShade", BSS_HDIP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 6, 74, 110, 2
 CONTROL "", -1, "BorShade", BSS_RGROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 1, 219, 53
 CONTROL "Model Data", -1, "BorShade", BSS_RGROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 1, 55, 118, 94
 DEFPUSHBUTTON "OK", IDOK, 169, 151, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 CONTROL "&Field Data", -1, "BorShade", BSS_RGROUP | BSS_LEFT | WS_CHILD | WS_VISIBLE, 120, 55, 100, 94
}
